In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/버스탑승객.csv', encoding = 'euc_kr')
df

     읍면동  버스탑승자수(1월)  버스탑승자수(8월)
0    건입동       49873       59935
1    구좌읍       74276       86702
2    노형동      294504      347773
3    도두동       11652       13320
4    봉개동       39894       46926
5   삼도1동       68603       74856
6   삼도2동       58766       56328
7    삼양동       64546       73562
8    아라동      257359      287963
9    애월읍      154435      182420
10    연동      323164      374299
11   오라동      176387      199364
12   외도동       60016       65909
13  용담1동       61064       71839
14  용담2동      239049      261995
15   우도면        2147        3583
16  이도1동      174604      165156
17  이도2동      368820      406444
18   이호동       19807       24356
19  일도1동       45907       74985
20  일도2동      146960      164805
21   조천읍      121781      149827
22   추자면        4353        4827
23   한경면       21427       24410
24   한림읍       72144       88902
25   화북동      142901      156592

In [7]:
df['mean_버스'] = round((df['버스탑승자수(1월)']+df['버스탑승자수(8월)'])/2)
df

     읍면동  버스탑승자수(1월)  버스탑승자수(8월)   mean_버스
0    건입동       49873       59935   54904.0
1    구좌읍       74276       86702   80489.0
2    노형동      294504      347773  321138.0
3    도두동       11652       13320   12486.0
4    봉개동       39894       46926   43410.0
5   삼도1동       68603       74856   71730.0
6   삼도2동       58766       56328   57547.0
7    삼양동       64546       73562   69054.0
8    아라동      257359      287963  272661.0
9    애월읍      154435      182420  168428.0
10    연동      323164      374299  348732.0
11   오라동      176387      199364  187876.0
12   외도동       60016       65909   62962.0
13  용담1동       61064       71839   66452.0
14  용담2동      239049      261995  250522.0
15   우도면        2147        3583    2865.0
16  이도1동      174604      165156  169880.0
17  이도2동      368820      406444  387632.0
18   이호동       19807       24356   22082.0
19  일도1동       45907       74985   60446.0
20  일도2동      146960      164805  155882.0
21   조천읍      121781      149827  135804.0
22   추자면        4353        4827    4590.0
23   한경면       21427       24410   22918.0
24   한림읍       72144       88902   80523.0
25   화북동      142901      156592  149746.0

In [10]:
df.loc[:, ['읍면동','mean_버스']].to_csv('버스.csv', encoding = 'euc_kr')